details summary {
    background-color: #eee;
    padding: 0.5em;
}
details {
    margin-bottom: 2em;
}

.theorem {
    display: block;
    margin: 12px 0;
    padding: 0.5em;
    border: 1px solid gray;
    border-left: 5px solid navy;
    border-radius: 0.25rem;
}

.lemma {
    border-left: 5px solid teal;
}

.corollary {
    border-left: 5px solid steelblue;
}

.definition {
    border-left: 5px solid dodgerblue;
}

.remark {
    border: none;
}

.proof {
    padding: 1em;
}

div[class="proof"]::after {
    /* content: '\20DE'; */
    content: '\25FC';
    position: relative;
    left: calc(100% - 20px);
}

/* listing title highlight */
.quarto-listing .listing-title {
  color: #006400;
  /* font-weight: 600; */
}

.quarto-listing .quarto-grid-link:hover .listing-title {
  color: #228B22;
}

/* timeline */
.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}